// SCSS Variable's
$font-primary: 'Raleway', sans-serif;
$color-primary:#feb614;
$color-secondary:#182651;
$color-gray:#303030;
$color-gray-light:#3d4047;
$color-gray-soft:#f3f4f6;
$color-green:#389b07;
$color-red:#fc0000;
$color-black:#000000;
$color-white:#ffffff;
$color-bg:#f7f7f7;